# Dependencies
node_modules/

# Build
dist/
*.local

# Env & secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Supabase
.supabase/
